down.html
web/mediawiki
conf/general.yml
conf/apache.conf
conf/LocalSettings.php
conf/stack.yml
conf/crontab
conf/env.sh
conf/*.last
conf/*.deployed
conf/mediawiki.crt.pem
conf/mediawiki.key.pem

*.pyc
.terraform/
venv/
.env
env.*

.python-version
