down.html
web/mediawiki
conf/general.yml
conf/general.yml.deployed
conf/apache.conf
conf/apache.conf.deployed
conf/LocalSettings.php
conf/LocalSettings.php.deployed
*.pyc
.terraform/
venv/
.env
env.*

