#!/bin/bash

## Mediawiki configuration
export wgSitename="mySociety test wiki"
export wgMetaNamespace="test_wiki"
export wgServer="testwiki.mysociety.org"
export logo_filename="Mysociety-logo.jpg"
export wgDBserver="postgres"
export wgDBname="testwiki"
export wgDBpassword="XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
export wgDBprefix="test_mw_"
export aws_access_key="XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
export aws_secret_key="XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
export wgAWSRegion="eu-west-1"
export wgAWSBucketName="ms-wr-testwiki-mysociety-org"
export wgSecretKey="XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
export wgUpgradeKey="XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

## General configuration
export wikifixupbot_passwor="XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
export pipedrivebot_password="XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
export pipedrive_api_key="XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
export slack_hook_url="https://example.com/foo/bar"

## Deployment configuration
export ADMIN_GROUP="test-group"
export PORT="8888"
export TAG="latest"
export VIRTUALENV_DIR="venv"

# Build configuration
export AWS_DEFAULT_REGION="eu-west-1"
export AWS_SECRET_ACCESS_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
export AWS_ACCESS_KEY_ID="XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
